h1{
	text-align: center;
}
form{
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	margin: 5px;
	box-sizing: border-box;
}
select{
	width: 10%;
	margin-bottom: 8px;
	margin-top: 8px;
}
.txt{
	padding: 5px;
	margin: 5px;
	width: 30%;
}
