h2 {
	text-align: center;
}
#id1{
	text-align: center;
}
h1{
	text-align: center;
}
p{
	padding-left: 5px;
}
#id2{
	text-align: right;
	padding-right: 10%;
}
#id3{
	text-align: right;
	padding-right: 13%;
}
#id4{
	text-align: right;
	padding-right: 14%;
}
