
#do{
    background-color: aqua;
}
#doing{
    background-color: wheat;
}
#done{
    background-color: papayawhip;
}
.ui-state-highlight{
    background-color: #fafafa;
    height: calc(1.5rem + 20px);
}
.dragging{
    transform: rotate(1deg);
}
label{
    width: 5px;
}
#input-field{
    width: 5px;
}
.job i{
    opacity: 0;
}
.job i:hover{
    opacity: 1;
}
li{
    cursor: move;
}