*{
	box-sizing: border-box;
	max-width: 1100px;
}
#menu1{
	background-color: gray;
	padding: 5px;
	margin: 5px;
	width: 1100px;
}
a{
	margin: 10px;
	text-decoration:none;
	color: #2F4F4F;
}
input{
	float: right;
	margin-right: 5px;
}
#menu2{
	background-color: #808A87;
	float: left;
	width: 1100px;
}
#menu a{
	margin:40px;
}
aside{
	float: right;
}
.box{
	float: left;
	text-align: center;
}
#footer{
	float: left;
	background-color: gray;
	width: 1100px;
	height: 50px;
}
#footer a{
	margin: 120px;
}
