		
		#id0{
			text-align: center;
		}
		#id1{
			text-align: center;
		}
		#id2{
			text-align: center;
		}
		h1{
			text-align: center;
		}
		#id3{
			padding-left: 75%;
		}
		#id4{
			padding-left: 80%;
		}
		#id5{
			padding-left: 82%;
		}
