		*{
			padding: 5px;
		}
		#id0{
			padding-left: 30%;
		}
		#id1{
			padding-left: 34%;
		}
		#id2{
			padding-left: 43%;
		}
		h1{
			padding-left: 35%;
		}
		#id3{
			padding-left: 75%;
		}
		#id4{
			padding-left: 80%;
		}
		#id5{
			padding-left: 82%;
		}
