header{
    background-color: #cc6699;
}
.middle{
    text-align: center;
    vertical-align: middle;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}