h1{
	text-align: center;
}
table{
	border-collapse: collapse;
	width: 100%;
}
table,td,th,tr{
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}
tr:hover{
	color: blue;
}
th{
	background-image: url(http://i.imgur.com/OFRHcoj.gif);
	background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
}
thead .tablesorter-headerAsc{
	background-image: url(http://i.imgur.com/FJjqdy0.gif);
}
thead .tablesorter-headerDesc{
	background-image: url(http://i.imgur.com/5Dqyqgs.gif);
}